<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="content-language" content="fa" />
	<meta name="apple-mobile-web-app-capable" content="yes"/>
  </head>
  <body>
  	<video preload="none" class="video-js vjs-default-skin" width="640" height="360" controls>
      <source
        src="http://wowza.streamroot.io/liveorigin/stream1/playlist.m3u8"
        type="application/x-mpegurl">
    </video>
  </body>
</html>
